version: '3.8'
services:
  app:
    image: nejek16/chore-manager:latest
    container_name: chore-app
    ports:
      - "8000:8000"
    volumes:
      - ./creds.json:/app/creds.json
    env_file:
      - .env
    restart: always